@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Color variables for future use */
  :root {
    --color-bg: #fff;
    --color-accent: #0882a4;
    --color-text: #404756;
    --color-dark-2: #23272f;
    --color-dark-3: #a2a2a2;
    --tw-shadow: 0 16px 32px -16px rgba(0,0,0,.1),0 0 0 1px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 16px 32px -16px var(--tw-shadow-color),0 0 0 1px var(--tw-shadow-color);
    /* Light Theme */

  }

 

  /* Dark Theme */
  .dark {
    --color-bg: #16181d;
    --color-bg-secondary: theme(colors.slate.800);
    --color-accent:#0882a4;
    --color-accent-light: #0882a4;
    --color-text: #f6f7f9;
    --color-dark-1: #ebecf0;
    --color-dark-2: #ebecf0;
    --color-dark-3: #ebecf0;
  }

  @font-face {
    font-family: 'agustina';
    src: url('/fonts/Agustina-Signature.otf') format('opentype');
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf') format('opentype');
  }
  @font-face {
    font-family: 'Lemon-Regular';
    src: url('/fonts/Lemon-Regular.ttf') format('opentype');
  }

  * {
    @apply focus:outline-dashed outline-[3px] outline-offset-4 outline-accent;
  }
}

/* TYPOGRAPHY */

.heading-secondary {
  @apply text-3xl sm:text-4xl capitalize font-medium mb-8 sm:mb-12 text-dark-2;
}


.bg-gradient-right {
  
  background-image: conic-gradient(from -90deg at 110% 100%,#fff 0deg,#ebecf0 90deg,#ebecf0 1turn);
}

.bg-gradient-left {
  background-image: conic-gradient(from 90deg at -10% 100%,#bcc1cd 0deg,#bcc1cd 90deg,#fff 1turn);
}



.dark .bg-gradient-left{
  background-image: conic-gradient(from 90deg at -10% 100%,#2b303b 0deg,#2b303b 90deg,#16181d 1turn);
}

.dark .bg-gradient-right {
  background-image: conic-gradient(from -90deg at 110% 100%,#2b303b 0deg,#16181d 90deg,#16181d 1turn);
}

.shadow-nav, .shadow-none {
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

/* Dark Scrollbar */
.dark ::-webkit-scrollbar {
  width: 8px;
  background-color: #16181d;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #2b303b;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #404756;
}

.dark ::-webkit-scrollbar-track {
  background-color: #16181d;
}
::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #bcc1cd;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a2a2a2;
}